<div class="cuerpo">
	<div class="botones">
		<ul class="nav nav-pills nav-justified">
		  <li class="nav-item">
		   <a class="nav-link"@click="marcar('lunes')" v-bind:class = "{active: buttonActiveLunes}"">Lunes</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link"@click="marcar('martes')" v-bind:class = "{active: buttonActiveMartes}">Martes</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link"@click="marcar('miercoles')" v-bind:class = "{active: buttonActiveMiercoles}"">Miercoles</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " @click="marcar('jueves')" v-bind:class = "{active: buttonActiveJueves}">Jueves</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " @click="marcar('viernes')" v-bind:class = "{active: buttonActiveViernes}">Viernes</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " @click="marcar('sabado')" v-bind:class = "{active: buttonActiveSabado}">Sabado</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" v-bind:class = "{active: buttonActivePull}">Mostrar Leyenda</a>
		  </li>
		</ul>
	</div>
	<div id="map"></div>
</div>