<div class="cuerpo">
	<div class="botones">
		<button type="button" class="btn btn-default" @click="marcar('exelente')" v-bind:class = "{active: bActiveE}">Exelente</button>
		<button type="button" class="btn btn-default" @click="marcar('bueno')" v-bind:class = "{active: bActiveB}">Bueno</button>
		<button type="button" class="btn btn-default" @click="marcar('moderado')" v-bind:class = "{active: bActiveM}">Moderado</button>
		<button type="button" class="btn btn-default" @click="marcar('malo')" v-bind:class = "{active: bActiveMa}">Malo</button>
		<button type="button" class="btn btn-default" @click="marcar('desconocido')" v-bind:class = "{active: bActiveD}">Desconocido</button>
		<button type="button" class="btn btn-default pull-right" v-bind:class = "{active: buttonActivePull}">Mostrar Leyenda</button>
	</div>
	<div id="map"></div>
</div>