<nav id="sidebar" v-bind:class = "{active: isActive}" >
    <div class="sidebar-header">
        <a href="">   
            <h3>RedesUsach</h3>
            <strong>RU</strong>
        </a>
    </div>

    <div @click="collapseSide" class="text-center flechas">
      <a href="#" class="">
        <i class="glyphicon glyphicon-resize-horizontal"></i>
      </a>
    </div>

    <ul class="list-unstyled components">
        <li class="">
            <a href="#/dia">
              <i class="glyphicon glyphicon-map-marker"></i>
                Mapas segun Dia
            </a>
            <a href="#/calidad">
              <i class="glyphicon glyphicon-map-marker"></i>
                Mapas segun Calidad
            </a>
            
        </li>
    </ul>
</nav>