<nav id="sidebar" v-bind:class = "{active: isActive}" >
    <div class="sidebar-header">
        <h3>RedesUsach</h3>
        <strong>RU</strong>
    </div>

    <div v-on:click="collapse" class="text-center flechas">
      <a href="#" class="">
        <i class="glyphicon glyphicon-resize-horizontal"></i>
      </a>
    </div>

    <ul class="list-unstyled components">
        <li class="">
            <a href="#/dia" aria-expanded="false">
              <i class="glyphicon glyphicon-map-marker"></i>
                Mapas segun Dia
            </a>
            <a href="#/calidad" aria-expanded="false">
              <i class="glyphicon glyphicon-map-marker"></i>
                Mapas segun Calidad
            </a>
            
        </li>
    </ul>
</nav>